*{
   text-decoration: none;
   border: none;
   overflow-x: hidden;
}
nav{
   display: flex;
   flex-direction:row;
   justify-content: space-between; 
  }

.nav-items{
   display: flex;
   flex-direction: row;
   column-gap: 20px;
   height: 20%;
   align-items: center; 
}

.bg-img{
   background-image: url(./img/bg-img.png);
  background-size: cover;
   justify-content: space-around;
   height: 100vh;
   width: 100vw;
   display: flex;
   
}

.icons{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   column-gap: 20px;
   color: white;
   width: 30%;
   height: 20%;
   align-items: center;
}

.nav-items a{
   color: white;
}

.icons a{
   color: white;
   padding: 15px;
   height: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.img-logo{
   height: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

#hero-title{
   color: black;
   font-size: 3rem;
}

#hero-sub{
   color:black;
   font-size: 1.5rem;
}

